$nm: knowledges;

.#{$nm} {

}

.#{$nm}__wrapper {
	padding-top: 134px;
}

.#{$nm} .section__title {
	margin-left: 98px;
}

.#{$nm} .section__subtitle {
	margin-left: 152px;
}

.#{$nm}__list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	list-style: none;
	counter-reset: num;

	padding: 0px 0px;
	margin: 0px 0px 0px 0px; 

	position: relative;
	outline: 1px solid blue;
	outline-offset: -1px;
}


.#{$nm}__item {
	width: 520px;
	outline: 1px dotted blue;
	outline-offset: -1px;
}

.#{$nm}__item:first-child{
	padding-top: 30px;
	padding-left: 208px;
	padding-bottom: 0px;
	padding-right: 0px;
}

.#{$nm}__item:first-child::before {
	content: "0" counter(num);
	counter-increment: num;

	font-family: "Besom", "Arial", serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12.87rem;
	letter-spacing: 0.05em;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: url('../img/numbering-1.jpg');
	background-repeat: no-repeat;
	background-position: -59px 9px;
	background-size: 349px 196px;
	outline: 1px solid red;
	outline-offset: -1px;
	
	color: transparent;

	display: block;
	width: 195px;
	height: 230px;
	padding-top: 136px;
	position: absolute;
	top: -15px;
	left: -3px;
}


.#{$nm}__item:nth-child(2n) {
	align-self: flex-end;
}

.#{$nm}__item-title {
	font-family: "Core Sans E 65", "Arial", serif;
	font-weight: 900;
	font-style: normal;
	font-size: 1.25rem;
	letter-spacing: 0.05em;

	margin-top: 20px;
	margin-bottom: 10px;
}

.#{$nm}__item-text {
	font-family: "Core Sans E 45", "Arial", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;

	margin-top: 14px;
	margin-bottom: 16px;

}

.#{$nm}__accessorial-title {
	font-family: "Core Sans E 95", "Arial", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.25rem;

}

.#{$nm}__accessorial-list {

}

.#{$nm}__accessorial-item {

}

.#{$nm}__ {}

.#{$nm}__ {}

.#{$nm}__ {}

.#{$nm}__ {}

.#{$nm}__ {}

.#{$nm}__ {}

