$nm: skills;

.#{$nm} {
	background-image: url('../img/skills_bcgd+.jpg');
	background-repeat: no-repeat;
	background-size: 1207px 873px;
	background-position: -317px 54px;
}

.#{$nm} .section__title {
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 181px;
	margin-right: 0px;
}

.#{$nm} .section__subtitle {
	margin-top: -110px;
	margin-bottom: 0px;
	margin-left: 58px;
	margin-right: 0px;
}

.#{$nm}__list {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 238px 0px;
}

.#{$nm}__item {
	font-family: "Core Sans E 45", "Arial", serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5em;

	width: 200px;
}

.#{$nm}__item:nth-child(1) {
	width: 150px;
	margin-top: 34px;
	margin-bottom: 0px;
	margin-left: 647px;
	margin-right: 0px;
}

.#{$nm}__item:nth-child(2) {
	width: 200px;
	margin-top: 73px;
	margin-bottom: 0px;
	margin-left: 743px;
	margin-right: 0px;
}

.#{$nm}__item:nth-child(3) {
	width: 200px;
	margin-top: 72px;
	margin-bottom: 0px;
	margin-left: 815px;
	margin-right: 0px;
}

.#{$nm}__item:nth-child(4) {
	width: 220px;
	margin-top: 106px;
	margin-bottom: 0px;
	margin-left: 865px;
	margin-right: 0px;
}

.#{$nm}__item:nth-child(5) {
	width: 224px;
	margin-top: 89px;
	margin-bottom: 0px;
	margin-left: 875px;
	margin-right: 0px;
}


