h1 {
	color: blue;
  font-size: 64px;
}

a {
	width: 200px;
	height: 100px;
	background-color: yellow;
	display: block;
	color: black;
	font-size: 18px;
	&:hover {
		background-color: blue;
	}
}


div {
	width: 280px;
	height: 100px;
	background: linear-gradient(45deg, blue, red);
	font-size: 10px;
	color: white;
}
